**LIVE CODE 1**
**Nama : Alfin Aditya Pangestu 
Batch : 006**

**PROBLEM**

**SOAL 1**

  Kamu adalah seorang data scientist yang bekerja di salah satu perusahaan manufaktur baterai Lithium ion. Tim produksi meminta kamu untuk mengecek apakah baterai yang mereka buat dalam kondisi bagus atau tidak. Sebelum melakukan pengecekan lebih lanjut, kamu diminta untuk menghitung hambatan/resistansi dan Daya setiap detik:

[R=\frac{V}{I}]

[P=VI]

  R adalah Hambatan dalam satuan Ohm
  P adalah Daya dalam Watt
  I adalah kuat arus dalam satuan Ampere
  V adalah tegangan dalam satuan Volt**

In [2]:
#import library yang digunakan
import pandas as pd
import numpy as np

In [6]:
#import pustaka 
df = pd.read_excel ('/content/drive/MyDrive/Colab Notebooks/NMC1-9.xlsx')

In [7]:
#melihat tabel
df

       time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[90982 rows x 5 columns]

In [8]:
#melihat apakan ada null atau tidak
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90982 entries, 0 to 90981
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   time(s)      90982 non-null  int64
 1   V_m          90982 non-null  float64
 2   Current (A)  90982 non-null  float64
 3   Cycle        90982 non-null  int64
 4   Cap          90982 non-null  float64
dtypes: float64(3), int64(2)
memory usage: 3.5 MB

**a. Buatlah dua fungsi eksplisit masing-masing memuat perhitungan hambatan (R) dan daya (P) yang nantinya akan digunakan untuk perhitungan**

**JAWABAN SOAL A** 
karena di minta buat 2 fungsi yang masing-masing menghitung hambatan dan daya. maka langkah pertama kita harus mengetahui rumus tersebut. jika sudah mengetahui buat masing masing fungsi dengan rumus masing-masing. 

fungsi pertama membuat perhitungan hambatan yang rumusnya : R=V/I

fungsi kedua membuat perhitungan daya yang rumusnya: P= V*I

nnti akan di gunakan untuk perhitungan. brrti fungsi ini akan di pakai berulang kali sesuai jumlah data. maka kita gunakan *return*

In [10]:
#fungsi pertama menghitung Hambatan
def hitung_R(V,I):
  rumus_R = V/I
  return rumus_R

#fungsi kedua menghitung Daya
def hitung_P(V,I):
  rumus_P = V*I
  return rumus_P

**b. Buat kolom baru dengan nama kolom R/P berisikan hasil perhitungan daya/hambatan dengan kriteria untuk Kapasitas >=2.5 hitung daya, Kapasitas <2.5 hitung nilai hambatan. (Hint: Gunakan for loop dan if statement untuk mengerjakan perintah nomor b, kamu bisa menggunakan list untuk menyimpan perhitungan sementara, setelahnya dapat dimasukkan ke kolom R/P)**

**Jawaban b**
rumus menghitung daya : Volt * Current/Ampere (P=V*I)

rumur menghitung hambatan : volt/ampere (R=V/I)

V pada kolom = V_m
I pada kolom = Current (A)

karena yang di minta nilai kapasitas yang >=2.5 hitung daya. 
< 2.5 hitung nilai hambatan

maka nilai pada kolom **cap** akan di buatkan kondisi yang mana >= 2.5 dia akan menghitung nilai pada kolom voltage dan nilai dari kolom current. dan apabila nilai yang di masukan lebih keci dari 2.5 dia akan mencetak hitung hambatan

In [11]:
#r_p disini membuat nilai baru
r_p = []
#for disini membuat kondisi, index, row pada data kita untuk mengulang pada setiap baris dalam dataframe
for i, row in df.iterrows():
  #membuat kolom yang akan di masukan pada statment
    voltage = row['V_m']
    current = row['Current (A)']
    kapasitas = row['Cap']
    #if statment ini untuk lebih besar dari 2.5
    if kapasitas >= 2.5:
        # dengan menghitung fungsi kedua
        hitung_daya = hitung_P(voltage, current)
        #lalu nilai pada baris akan masuk ke menghitung fungsi 
        r_p.append(hitung_daya)
    #else ini statment yang lebih kecil dari statment if di atas
    else:
        #dengan menghitung fungsi pertama
        hitung_hambatan = hitung_R(voltage, current)
         #lalu nilai pada baris akan masuk ke menghitung fungsi 
        r_p.append(hitung_hambatan)
#buat kolom baru 
df['R/P'] = r_p

In [12]:
df

       time(s)    V_m  Current (A)  Cycle       Cap       R/P
0            0  4.098        0.997      1  2.840817  4.085706
1            1  4.096        0.998      1  2.840817  4.087808
2            2  4.094        0.999      1  2.840817  4.089906
3            3  4.093        0.998      1  2.840817  4.084814
4            4  4.092        0.999      1  2.840817  4.087908
...        ...    ...          ...    ...       ...       ...
90977    90977  2.506        1.002      9  2.770180  2.511012
90978    90978  2.504        1.002      9  2.770180  2.509008
90979    90979  2.502        1.002      9  2.770180  2.507004
90980    90980  2.500        1.002      9  2.770180  2.505000
90981    90981  2.497        1.002      9  2.770180  2.501994

[90982 rows x 6 columns]

**SOAL C**

Hitunglah rata-rata nilai kapasitas untuk arus = 1 Ampere dan cycle ganjil.

**JAWABAN SOAL C**

In [13]:
#membuat variabel yang diisi dengan statment 
#dataframe pada kolom 'current (A)' == 1 dana pada kolom 'cycle' ganji buat nilai rata-rata dari kolom 'Cap' atau kapasitas 
#untuk memilih bilangan ganjil maka %2 ==1 untuk genap %2 == 0

rata2 = df[(df['Current (A)'] == 1) & (df['Cycle'] % 2 == 1)]['Cap'].mean()

In [15]:
#buat kolom pada dataframe
df['rata-rata'] = rata2

In [16]:
#cetak
df

       time(s)    V_m  Current (A)  Cycle       Cap       R/P  rata-rata
0            0  4.098        0.997      1  2.840817  4.085706   2.806485
1            1  4.096        0.998      1  2.840817  4.087808   2.806485
2            2  4.094        0.999      1  2.840817  4.089906   2.806485
3            3  4.093        0.998      1  2.840817  4.084814   2.806485
4            4  4.092        0.999      1  2.840817  4.087908   2.806485
...        ...    ...          ...    ...       ...       ...        ...
90977    90977  2.506        1.002      9  2.770180  2.511012   2.806485
90978    90978  2.504        1.002      9  2.770180  2.509008   2.806485
90979    90979  2.502        1.002      9  2.770180  2.507004   2.806485
90980    90980  2.500        1.002      9  2.770180  2.505000   2.806485
90981    90981  2.497        1.002      9  2.770180  2.501994   2.806485

[90982 rows x 7 columns]